
*{
  padding: 0px;
  margin:0px;
  box-sizing: border-box;

  
  
}
html{
  background-color:rgba(15,11,20,1);
  
}
@font-face {
  font-family: font1;
  src: url('NotoSans-Bold.ttf');
}

@font-face {
  font-family: font2;
  src: url('Itim-Regular.ttf');
}
@font-face {
  font-family: font3;
  src: url("FiraSansExtraCondensed-Bold.ttf");
}



.head{
  display: flex;
  flex-wrap: wrap;
  
}
.list,.name,.user{
  flex:32.9%;
  color: white;
  padding: 5px;
}
#menu{
  font-size: 30px;
  
  
}
.name{
  
  font-family: font3;
}
.list{
  
  position: relative ;
  
  
  
}
.list .parent{
  position: fixed;
  top:0px;
  left:0;
  bottom:0;
  height:100%;
  z-index: 4;
  width:50%;
  padding:10px;
  background-color:white;

  
  
}


.parent ul {
  list-style-type: none;
  
  
}

@keyframes all{
  0%{
    width:0%;
    
  }
  100%{
    width:50%;
  }
}


.parent ul li{
  display: block;
  padding:10px 13px;
  width:100%;
  color: black;
  font-family: font2;
  border-bottom: 0.4px solid #ddd;
}
.parent ul li:hover{
  background-color: #f2f2f2;
}


#cancel{
  font-size: 39px;
  
  
}
.user img{
  width:50%;
  border-radius: 50%;
  height:40%;
  margin-left:40px;
}
.input1{
  margin:10px;
  
}
input[type="search"]{
  padding:15px;
  background-color:white;
  position: relative;
  color: grey;
  font-family: font3;
  width:100%;
  border:1px solid white;
  border-radius: 14px;
  background-image: url("searchicon.png");
 /*  background-image: url(searchicon.png), url(searchicon.png);
 background-position: right bottom, left top;
  
*/
  background-repeat: no-repeat;
  background-position: 10px 10px;
  padding-left: 40px;

}

input[type="search"]:focus{
  outline-style: none;
}
input[type="search"] span{
 float:right; 
 padding:2px;
  color: red;
  
}


.items{
  display:flex;
  flex-wrap: wrap;
  overflow-x:scroll;
  padding: 2px;
  flex-direction: row;
  
  
  
}
.items ol li{
 padding:4px;
 
 
 font-size: 13px;
  display: inline-block;
  font-family: font2;
  color:grey;
  
}
 .link1{
  color:white;
  padding:10px;
  padding-left: 15px;
  
}
.link1 p{
  color: red;
  font-family: font2;
  font-size: 20px;
}

.link1 a{
  color: white;
  text-decoration: none;
  padding-left: 20px;
  font-family: font3;
  
}
.link1 #intro{
  color: white ;
  font-family: font2;
  font-size: 16px;
  
}
.link1 img{
  width:15%;
  height:50px;
  border-radius: 100%;
  float: left;
  margin-right:10px;
}


.first1 ol{
 list-style: none;
 margin: 10px;
  
}
.first1 ol li{
  
  color:lightcoral;
  font-family: font3;
  padding:15px 15px;
  border-top: 1px solid grey;
}
.design1{
  border-bottom: 1px solid lightslategray;
  margin-bottom: 10px;
  background-color: rgba(35,51,40,0.4);
}
.design2{
  border-bottom: 1px solid lightslategrey;
  margin-bottom: 10px;
  border-top:1px solid lightslategrey;
  background-color: rgba(35,51,40,0.4);
}
.design3{
  
  margin-bottom: 10px;
  border-top:1px solid lightslategrey;
  background-color: rgba(35,51,40,0.4);
}

.design2 ol{
 list-style: none;
 margin: 10px;
  
}
.design2 ol li{
  
  color:hotpink;
  font-family: font3;
  padding:15px 15px;
  border-top: 0.3px solid lightcyan;
}





.footer ul,ol{
  
  list-style-type: none;
  
}
.footer ul li{
  color: grey;
  border-bottom: 1px solid grey;
  padding:13px 14px;
  font-family: font2;
}
.footer ul #btn{
  display: flex;
  flex-wrap: wrap;
  padding:15px;
}
#btn span{
  padding:12px;
  flex:33%;
}
.end span{
  color: white;
  
}

@media screen and (min-width:788px) {
  
 .design1,.design2,.design3,.footer{
   
   padding:30px;
   font-size: 35px;
 } 
  #menu{
    font-size: 60px;
  }
  #cancel{
    font-size: 60px;
  }
  input[type="search"]{
    
    width:90%;
    font-size: 35px;
  }
  .link1 p{
    font-size: 35px;
    padding:25px;
  }
  
  .link1 img{
    height:100px;
    width:12%;
  }
  .link1 #intro{
    
    font-size: 35px;
  }
  .items ol li {
    font-size: 30px;
    
  }
  .end span{
    font-size: 18px;
  }
}
@media screen and (orientation:landscape){
  
  .list .parent{
  position:relative;
  
  left:0;
  
  
  z-index: 4;
  width:80%;
  padding:10px;
  margin-bottom: 10px;
  background-color:white;
  
  
}

  
}
